<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <title>Proffy | Your study platform</title>
<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/Styles/main.css">
  <link rel="stylesheet" href="/Styles/partials/header.css">
  <link rel="stylesheet" href="/Styles/partials/forms.css">
  <link rel="stylesheet" href="/Styles/partials/page-give-classes.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <script src="/Scripts/addFields.js" defer></script>
  </head>
<body id="page-give-classes">
    <div id="container">
<header class="page-header">
  <div class="top-bar-container">
    <a href="/">
    <img src="/images/icons/back.svg" alt="Back">
    </a>
    <img src="/images/logo.svg" alt="Proffy">
  </div>
  <div class="header-content">
    <strong>It's amazing that you want to be a teacher!</strong>
      <p>Please fill in this form</p>
  </div>
</header>
<main>
  <form action="/save-classes" id="create-class" method="POST">
    <fieldset>
  <legend>Your data</legend>
  <div class="input-block">
    <label for="name">Full name</label>
    <input name="name" id="name" required>
  </div>
  <div class="input-block">
    <label for="avatar">Your photo (link) <small>(starts with https://)</small></label>
    <input name="avatar" id="avatar" type="url" required>
  </div>
  <div class="input-block">
    <label for="whatsapp">Whatsapp <small>(digits only)</small></label>
    <input name="whatsapp" id="whatsapp" type="number" required>
  </div>
  <div class="textarea-block">
    <label for="bio">Biography</label>
    <textarea name="bio" id="bio" required></textarea>
  </div>
</fieldset>
<fieldset>
  <legend>About lessons</legend>
  <div class="select-block">
    <label for="subject">Subject</label>
    <select name="subject" id="subject" required>
      <option value="">Select an option</option>
          {%for subject in subjects %}
      <option value="{{loop.index}}" >
        {{subject}}
      </option>
      {%endfor%}
    </select>
  </div>
  <div class="input-block">
  <label for="cost">Price per hour/lesson
    <small>($)</small>
  </label>
  <input name="cost" type="cost" id="cost" type="number" required>
  </div>	
</fieldset>
<fieldset id="schedule-items">
  <legend>Time
    <button type="button" id="add-time">+ New</button>
  </legend>
  <div class="schedule-item">
  <div class="select-block">
    <label for="weekday">Weekday</label>
    <select name="weekday[]" required>		<!--[] can be more than 1 value-->
     {%for weekday in weekdays %}
    <option value="{{loop.index0}}">
     {{weekday}}
    </option>
    {%endfor%}
    </select>			
    </div>
    <div class="input-block">
    <label for="time_from">From</label>
    <input type="time" name="time_from[]" required>
    </div>
    <div class="input-block">
    <label for="time_to">To</label>
    <input type="time" name="time_to[]" required>
  </div>
  </div>
  </fieldset>
    </form>
  <footer>
  <p>
    <img src="/images/icons/warning.svg" alt="Important">
    Important! <br>
    Fill in all the gaps!
  </p>
  <button type="submit" form="create-class">Save</button>   <!--Must be inside the form-->
  </footer>
  </main>
</div>
</body>
</html>
