 body {
     background-color: #8257E5;
 }   

 :root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%; /* controle das medidas rem */
}

body h1 {
	font-size: 5rem;
}
	#page {
		font-size: 3em;
	}
	
	#container { 
		/*box model */
		border: 3px solid blue; 
		padding: 40px;
		margin: 60px;
		
	}

		
	.pict {
		display: flex;
		height: 100vh;
		width: 100vh;	
		align-items: center;	
		border: 3px solid blue; 
		padding: 40px;
		margin: 60px;
		
	}    

	
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*
    h1 {
			font-family: 'Times New Roman', Times, serif;
			font-size: xxx-large;
		}
	p {
			font-family: 'Times New Roman', Times, serif;
			font-size: x-large;
			font-weight: bold;
		}

		.green {
			color:green;
			font-size: x-large;
			font-family: 'Times New Roman', Times, serif;
		
		}
		.blue {
			color:mediumblue;
			font-size: x-large;
			font-family: 'Times New Roman', Times, serif;
		}

		#page {
            color:antiquewhite;		
        }
					
		/* p {
			color: green;
		}

		.my_class p {
			color: red;
		} */

        
    


